<div class="show-container">
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>

  <h2>Reviews</h2>
  <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
        <span class="rating"><%= review.rating %></span>
        <%= review.content %>
        <%= button_to "Delete review", review, method: :delete, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant), class: "btn btn-primary" %>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
  <%= button_to "Destroy restaurant", @restaurant, method: :delete, class: "btn btn-danger" %>
</div>
